

.buttons {
	padding: 15px 0;
}


@mixin button {
	@include font-bold;
	opacity: 1;
	border: 0;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	transition: opacity 400ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: $grey;
	color: white;
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0 2px 4px 0;

	&.large {
		font-size: 17px;
		line-height: 17px;
		padding: 12px 17px;
	}
}

// general button styles
.btn {
	@include button;

	&:hover {
		text-decoration: none;
		opacity: .8;
	}

	&.green {
		background-color: $green;
	}

	&.forest {
		background-color: $forest;
	}

	&.teal {
		background-color: $teal;
	}

	&.red {
		background-color: $red;
	}

	&.lime {
		background-color: $lime;
	}

	&.navy {
		background-color: $navy;
	}

	&.seafoam {
		background-color: $seafoam;
	}

	&.gold {
		background-color: $gold;
	}

	&.orange {
		background-color: $orange;
	}

	&.grey-dark, &.dark-grey {
		background-color: $grey-dark;
	}

	&.back, &.previous, &.left {
		background-image: url(../img/button-arrow-left.png);
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 30px;
	}

	&.forward, &.next, &.right, &.arrow {
		background-image: url(../img/button-arrow-right.png);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 30px;
	}
}

