

$teal: #0491C1;
$river: #09416d;
$aqua: #2dc6d2;
$seafoam: #64cac8;
$navy: #0F4469;
$orange: #f8981d;
$lime: #aabb38;
$forest: #6e8d56;
$green: #83a53e;
$gold: #B1B541;
$red: #e15829;
$yellow: #D6CE49;
$grey: #9C9FA0;
$grey-dark: #60605b;


.bg-teal {
	background: $teal;
	color: white
}
.bg-river {
	background: $river;
	color: white
}
.bg-aqua {
	background: $aqua;
	color: white
}
.bg-seafoam {
	background: $seafoam;
	color: white
}
.bg-navy {
	background: $navy;
	color: white
}
.bg-orange {
	background: $orange;
	color: white
}
.bg-orange {
	background: $orange;
	color: white
}
.bg-lime {
	background: $lime;
	color: white
}
.bg-forest {
	background: $forest;
	color: white
}
.bg-green {
	background: $green;
	color: white
}
.bg-gold {
	background: $gold;
	color: white
}
.bg-red {
	background: $red;
	color: white
}
.bg-yellow {
	background: $yellow;
	color: white
}
.bg-grey {
	background: $grey;
	color: white
}
.bg-grey-dark {
	background: $grey-dark;
	color: white
}


