

header {
	position: relative;
	padding-bottom: 12px;

	@include respond-to( $bp-l ) {
		padding-bottom: 0;
	}

	.logo {
		padding: 15px 60px 15px 20px;

		@include respond-to( $bp-l ) {
			padding: 20px 60px 30px 50px;
		}

		img {
			@include respond-to( $bp-l ) {
				max-width: 325px;
			}
		}

		.page-template-page-front-sli & {

			@include respond-to( $bp-l ) {
				padding: 20px 60px 30px 30px;
			}

			@include respond-to( $bp-xl ) {
				padding: 30px 60px 30px 50px;
			}

			.logo-main {
				display: inline-block;

				@include respond-to( $bp-s ) {
					max-width: 55%;
					padding-right: 20px;
					border-right: 1px solid rgba( $navy, .4 );
				}

				@include respond-to( $bp-l ) {
					max-width: 35%;
				}

				img {
					display: block;
					max-width: 100%;

					@include respond-to( $bp-m ) {
						margin-right: 20px;
					}
				}
			}
		}

		.logo-aux {
			filter: grayscale(1);
			opacity: .5;
			display: inline-block;

			@include respond-to( $bp-s ) {
				max-width: 35%;
				padding-left: 20px;
			}

			@include respond-to( $bp-l ) {
				max-width: 20%;
			}

			&:hover {
				filter: grayscale(0);
				opacity: 1;
			}

			img {
				max-width: 140px;
				margin-top: 10px;

				@include respond-to( $bp-s ) {
					max-width: 160px;
					margin-top: 0;
				}

				@include respond-to( $bp-m ) {
					max-width: 200px;
				}

				@include respond-to( $bp-l ) {
					max-width: 140px;
				}

				@include respond-to( $bp-xl ) {
					max-width: 200px;
				}

				@include respond-to( 1300px ) {
					max-width: 240px;
				}
			}

		}
	}

	&.main:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 12px;
		content: '';
		background: url( ../img/border-header.jpg ) center center no-repeat;
		background-size: cover;
	}

	nav {
		@include clearfix;
		position: relative;

		button {
			position: absolute;
			right: 10px;
			top: -150px;
			width: 40px;
			height: 40px;
			border: 0;
			padding: 0;
			background: white;
			color: transparent;
			background: url(../img/icon-menu.png) center center no-repeat;
			overflow: hidden;
			text-indent: 1000px;
			
			@include respond-to( $bp-s ) {
				top: -100px;
				right: 20px;
			}

			@include respond-to( $bp-m ) {
				display: none;
			}
		}

		.nav-menu {
			display: none;
			background: $navy;
			position: relative;
			z-index: 1000;
			padding: 0 10px;
			@include font-bold;
			
			@include respond-to( $bp-m ) {
				display: block;
				@include clearfix;
			}

			@include respond-to( $bp-l ) {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 30px 0 10px;
				background: $navy;
				z-index: 100;

				&.sli {
					background: $teal;

					&:after {
						background: $teal;
					}
				}

				&:after {
					position: absolute;
					left: -30px;
					top: 0;
					height: 50px;
					width: 55px;
					content: '';
					background: $navy;
					-webkit-transform: skew( 45deg );
					transform: skew( 45deg );
					z-index: 99;
				}
			}

			&.sli {
				background: $teal;

				li ul.sub-menu {
					background: $teal;

					@include respond-to( $bp-m ) {
						width: 280px;
					}

					@include respond-to( $bp-l ) {
						width: 300px;
					}
				}
			}

			li {
				@include respond-to( $bp-m ) {
					box-shadow: none;
					position: relative;
					display: inline-block;
				}

				a {
					display: block;
					padding: 15px 5px;
					font-size: 14px;
					line-height: 20px;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					width: 100%;
					transition: 400ms background-color ease-in-out;
					background-color: transparent;
					text-align: center;

					@include respond-to( $bp-s ) {
						display: inline-block;
						text-align: left;
						padding: 15px 10px;
					}

					@include respond-to( $bp-l ) {
						font-size: 16px;
						padding: 15px 25px;
					}
				}

				&:hover, &.open {
					ul.sub-menu {
						@include respond-to( $bp-s ) {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;

					@include respond-to( $bp-m ) {
						position: absolute;
						left: 0;
						top: 50px;
						width: 220px;
						@include clearfix;
						background: $navy;
						z-index: 1000;
					}

					@include respond-to( $bp-l ) {
						left: auto;
						right: 0;
						width: 250px;
					}

					li {
						display: block;
						width: 100%;

						a {
							font-size: 15px;
							line-height: 18px;
							display: block;
							padding: 10px 5px;

							@include respond-to( $bp-m ) {
								padding: 14px;
								text-align: left;

								&:hover {
									background-color: rgba( $navy, .1 );
								}
							}

							@include respond-to( $bp-l ) {
								text-align: right;
							}
						}

						ul.sub-menu {
							display: none;
							margin-bottom: 3px;

							@include respond-to( $bp-m ) {
								position: absolute;
								left: 220px;
								top: 0;
								width: 220px;
								@include clearfix;
								text-align: left;
								z-index: 1001;
							}

							@include respond-to( $bp-l ) {
								position: absolute;
								left: auto;
								right: 250px;
								top: 0;
								width: 250px;
							}
						}

						&:hover ul.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}

	.search-form {
		position: relative;
		border-top: 3px solid rgba( $grey, .2 );

		@include respond-to( $bp-s ) {
			float: left;
			width: 50%;
			border: 3px solid rgba( $grey, .2 );
		}

		@include respond-to( $bp-l ) {
			float: none;
			display: block;
			position: absolute;
			right: 230px;
			bottom: 30px;
			width: 200px;
		}

		input[type=submit] {
			background: $lime url(../img/icon-search.png) center center no-repeat;
			color: transparent;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 40px;
			height: 40px;
			margin: 0;
		}

		input[type=text] {
			border: 0;
			width: 100%;
			padding: 0 10px;
			font-size: 15px;
			line-height: 40px;
			color: $grey-dark;
		}
	}

	.account-tools {
		position: relative;
		border-top: 3px solid rgba( $grey, .2 );
		border-bottom: 3px solid rgba( $grey, .2 );

		@include respond-to( $bp-s ) {
			float: left;
			width: 50%;
		}

		@include respond-to( $bp-l ) {
			float: none;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 30px;
			width: 200px;
		}

		a {
			display: block;
			line-height: 40px;
			font-size: 15px;
			text-transform: uppercase;
			padding: 0 10px;
			color: white;
			background: $navy;
		}

		&:after {
			content: '';
			background: $navy url(../img/icon-lock.png) center center no-repeat;
			position: absolute;
			top: 0;
			right: 0;

			height: 40px;
			width: 40px;
		}
	}
}


body.scrolled header nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;

	.menu-main-menu-container, .menu-main-menu-sli-container {
		position: relative;
		max-width: 1440px;
		margin: 0 auto;
	}
}

body.scrolled.admin-bar header nav {
	top: 32px;
}
