

.icons {

	.icon {
		display: flex;
		padding: 0 0 30px 0;

		.icon-image {
			flex: 1;
			flex-basis: 25%;
			padding: 10px;

			@include respond-to( 900px ) {
				padding: 20px;
				flex-basis: 18%;
			}
		}

		.icon-content {
			flex: 1;
			flex-basis: 75%;
			@extend .content-style;

			@include respond-to( 900px ) {
				flex-basis: 82%;
			}
		}
	}
}

