

.page-title {
	background: $forest;

	h1 {
		color: white;
		padding: 10px 20px;
		text-transform: uppercase;

		@include respond-to( $bp-l ) {
			padding: 10px 40px;
		}

		@include respond-to( $bp-xl ) {
			padding: 10px 50px;
		}
	}
}

