

.page-title {
	background: $forest;
	padding: 10px 20px;

	@include respond-to( $bp-l ) {
		padding: 15px 40px 12px;
	}

	@include respond-to( $bp-xl ) {
		padding: 15px 50px 12px;
	}

	&.long-title {
		padding-top: 60px;
	}

	h1 {
		color: white;
		text-transform: uppercase;
		font-size: 2em;
		line-height: 1em;
		display: inline-block;

		@include respond-to( $bp-l ) {
			font-size: 2.2em;
		}

		@include respond-to( $bp-xl ) {
			font-size: 2.4em;
		}

		span {
			font-size: 14px;
			line-height: 14px;
			display: block;
			padding-top: 5px;
		}
	}

	&.anthem {
		background: rgba( $grey, .3 );

		h1 {
			color: $gold;
			text-transform: none;
			font-size: 3.5em;
			line-height: 1em;
			padding: 10px 20px 5px;

			@include respond-to( $bp-l ) {
				padding: 10px 40px 5px;
			}

			@include respond-to( $bp-xl ) {
				padding: 10px 50px 5px;
			}
		}
	}

	&.forest { background: $forest; }
	&.lime { background: $lime; }
	&.green { background: $green; }
	&.orange { background: $orange; }
	&.teal { background: $teal; }
	&.navy { background: $navy; }
	&.seafoam { background: $seafoam; }
	&.grey, &.grey-light { background: $grey; }
	&.grey-dark { background: $grey-dark; }
	&.yellow { background: $yellow; }
}

