

.sidebar-title {
	font-size: 1.2em;
	line-height: 1.3em;
	color: $navy;
	text-transform: uppercase;
}


.sidebar {
	.widget-title {
		@extend .sidebar-title;
		padding: 10px 0 5px;
	}

	.widget_nav_menu, .widget_categories {
		ul {
			list-style: none;
			padding: 0;
			border-top: 1px solid rgba( $grey, .3 );

			li {
				padding: 0;

				a {
					display: block;
					padding: 7px 0;
					color: $navy;
					transition: all 400ms ease-in-out;
					text-transform: uppercase;
					border-bottom: 1px solid rgba( $grey, .3 );

					&:hover {
						text-decoration: none;
						opacity: .8;
					}
				}

				ul.sub-menu {
					display: none;
					padding-left: 15px;

					&.open {
						display: block;
					}
				}
			}
		}
	}

	.people {
		padding: 0;
	}

	.widget {
		padding-bottom: 20px;

		@include respond-to( $bp-l ) {
			padding-bottom: 40px;
		}
	}

	.widget_recent_entries {
		ul {
			li {
				border-top: 2px solid #ddd;

				a {
					display: block;
					font-size: 1.2em;
					line-height: 1.5em;
					padding: 10px 0;
					color: $grey-dark;
				}
			}
		}
	}

	ul.display-posts-listing {
		li {
			border-top: 2px solid #ddd;

			a {
				display: block;
				font-size: 1.2em;
				line-height: 1.5em;
				padding: 10px 0;
				color: $grey-dark;
			}
		}
	}

	.widget-events {
		padding-bottom: 20px;

		@include respond-to( $bp-l ) {
			padding-bottom: 40px;
		}

		h3 {
			font-size: 1.3em;
			line-height: 1.4em;
		}
	}
}

