

// single partner template styles

.partner-thumbnail {
	margin: 0 0 20px 0;

	img {
		border: 1px solid #ccc;
		box-shadow: 0 0 20px #ddd;		
	}
}

.partner-title {
	text-transform: uppercase;
}

.partner-video {
	text-align: center;
	padding: 25px 0;
}

.partner-buttons {
	@include clearfix;

	.btn {
		width: 45%;
		margin-left: 5%;
		float: left;

		&:first-child {
			margin-left: 0;
		}

		&:nth-child( 2 ) {
			width: 48%;
		}
	}
}

.partner-links {
	padding-top: 10px;
	@include clearfix;
	display: flex;

	.partner-website {
		flex: 1;
		flex-basis: 50%;

		.btn {
			width: 90%;
		}
	}

	.partner-social {
		flex: 1;
		flex-basis: 50%;

		img {
			max-width: 23%;
		}
	}
}

.partner-products-title {
	color: $teal;
	text-transform: uppercase;
	padding-top: 20px;
}

.partner-products {
	padding: 5px 0;

	@include respond-to( 768px ) {
		display: flex;
	}

	.products-column {
		@include respond-to( 768px ) {
			flex: 1;
		}

		ul {
			padding: 0 0 0 30px !important;
		}
	}
}


// partners listing template styles

.partners-intro {
	@include respond-to( 768px ) {
		display: flex;

		.partners-intro-content {
			flex: 1;
			flex-basis: 65%;
		}

		.partners-intro-filters {
			flex: 1;
			flex-basis: 35%;
		}
	}

	.partners-intro-filters {
		padding: 20px 40px;

		h4 {
			text-transform: uppercase;
			color: $navy;
		}

		label {
			display: block;
			padding: 5px;
		}
	}
}


.partner-heading {
	
}


.partners-listing {
	@include respond-to( 500px ) {
		display: flex;
		margin-right: -2%;
		flex-wrap: wrap;
	}

	.partner-entry {
		@include respond-to( 500px ) {
			flex: 1;
			flex-basis: 48%;
			margin: 0 2% 2% 0;
			flex-grow: 0;
		}

		@include respond-to( 768px ) {
			flex-basis: 31.3333%;
			margin: 0 2% 2% 0;
		}

		@include respond-to( 1024px ) {
			flex-basis: 23%;
			margin: 0 2% 2% 0;
		}

		@include respond-to( 1220px ) {
			flex-basis: 18%;
			margin: 0 2% 2% 0;
		}

		img {
			border: 1px solid #ccc;
			box-shadow: 0 0 20px #ddd;
		}
	}
}


.partner-overlay-hidden {
	display: none;
}
