

.single-partner {
	.partner-title {
		text-transform: uppercase;
	}

	.partner-video {
		text-align: center;
		padding: 10px 0;
	}
}

.partner-social {
	@include clearfix;

	a {
		float: left;
		margin-right: 3px;

		&.btn {
			margin-right: 15px;
		}
	}

	img {

	}
}

