

// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1440px;


// colors
$teal: #0491C1;
$river: #09416d;
$navy: #0F4469;
$orange: #f8981d;
$lime: #aabb38;
$forest: #6e8d56;
$gold: #9baf2c;
$green: #83a53e;
$red: #e15829;
$yellow: #D6CE49;
$grey: #9C9FA0;
$grey-dark: #60605b;
$aqua: #2dc6d2;
$seafoam: #64cac8;
$stone: $grey-dark;

$seafoam: #92ACAD;
$grey-dark: #6D6E71;
$green: #ABB24F;
$orange: #F1572B;


@import 'mixins';
@import 'reset';
@import 'grid';
@import 'fonts';
@import 'colors';
@import 'content';
@import 'base';
@import 'button';
@import 'magnific';


body {
	@include font;
}

header {
	img {
		display: block;
	}
}

.page-template-page-microsite {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0;

	.microsite-container {
		max-width: 1220px;
		margin: 0 auto;
		border: 1px solid $grey;
		border-top: 0;
		border-bottom: 0; 
		box-shadow: 0 0 20px rgba( $grey, .2 );
	}

	.grid-row {
		@include clearfix;
		@include respond-to( 768px ) {
			display: flex;
		}
	}

	.two-third {
		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 67%;
			margin: 0;
			padding: 10px 2%;
		}

		ol, ul {
			padding: 2px 0 2px 35px;

			li {
				padding: 3px 0;
			}

			&.gform_fields {
				padding: 5px 0;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}
	}

	.third {
		text-align: center;
		padding: 10px 20px;

		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 33%;
			margin: 0;
			padding: 30px 1%;
			min-height: 300px;
		}

		@include respond-to( 1024px ) {
			padding: 40px 1%;
		}
	}

	h3 {
		@include font-bold;
		padding: 10px 0;
	}

	p {
		padding: 10px 0;
	}

	.alignright {
		float: right;
		padding: 0 0 10px 10px;
	}
}

.micro-subfooter {
	padding: 30px 50px;
	background: url(../../img/bg-micro-subfooter.png) center center no-repeat;
	background-size: cover;
	color: black;

	h4 {
		@include font-bold;
		text-align: center;
		font-size: 2.7em;
		color: #414042;
	}

	@include respond-to( 1024px ) {
		padding: 40px 60px;
	}
}

.micro-footer {
	padding: 10px 40px;

	.imageright {
		float: right;
		margin: 0 0 10px 10px;
	}

	h4 {
		@include font-bold;
	}

	@include respond-to( 768px ) {
		min-height: 180px;

		.content {
			padding: 20px 0;
		}
	}

	a {
		color: white;
		text-decoration: underline;

		&:hover {
			color: lighten( $grey, 30% );
		}
	}

	.content:after {
		display: none;	
	}
}

.colophon {
	padding: 20px 40px;
	color: $grey;
	background: white;
}

.bg-seafoam {
	background-color: $seafoam;
}

.group {
	@include clearfix;
}


@mixin icon {
	position: relative;
	background: white;
	box-shadow: 0 0 30px rgba( black, .2 );

	.icon-image {
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -50px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		box-shadow: 0 0 25px rgba( black, .3 );
		background: white;
		text-align: center;

		@include respond-to( 1024px ) {
			width: 120px;
			height: 120px;
			margin-left: -60px;
		}

		img {
			max-width: 95%;
		}
	}

	.icon-inner {
		margin-top: 90px;
		padding: 30px 20px;
		text-align: center;

		@include respond-to( 1024px ) {
			margin-top: 110px;
		}

		h4 {
			color: $navy;
			padding: 10px 0 0;
		}

		p {
			padding: 0 0 10px;
		}
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 90px;
		content: " ";

		@include respond-to( 1024px ) {
			height: 110px;
		}
	}

	&.orange:before {
		background-color: $orange;
	}

	&.navy:before {
		background-color: $navy;
	}

	&.teal:before {
		background-color: $teal;
	}

	&.green:before {
		background-color: $green;
	}

	&.lime:before {
		background-color: $lime;
	}
}

.page-template-page-microsite-v2 {
	margin: 0 auto;
	padding: 0;
	font-family: Calibri, Arial, Tahoma, sans-serif;

	@include respond-to( 1220px ) {
		font-size: 1.3em;

		.btn {
			font-size: 1.1em;
			padding: 15px 30px;
			margin: 10px 0;
		}
	}

	.microsite-container {
		max-width: 1440px;
		margin: 0 auto;
		border: 1px solid $grey;
		border-top: 0;
		border-bottom: 0; 
		box-shadow: 0 0 20px rgba( $grey, .3 );

		@extend .content-style;

		.microsite-icons {
			padding: 20px;

			@include respond-to( 768px ) {
				padding: 0 1%;
				display: flex;
			}

			.icon {
				@include icon;
				flex-basis: 29.3333%;
				margin: 0 2%;
			}
		}

		.microsite-content {
			padding: 30px;

			@include respond-to( 768px ) {
				padding: 50px 3%;
			}

			h1, h2, h3, h4, h5, h6 {
				color: $navy;
			}
		}

		.microsite-infographic {
			@include clearfix;
			padding: 20px;
			background-color: $navy;
			background-size: cover;
			background-position: center center;
			color: black;

			@include respond-to( 768px ) {
				padding: 50px 3%;
			}

			.icon {
				@include icon;

				@include respond-to( 768px ) {
					float: right;
					width: 30%;
					margin: 0 0 0 30px;
				}
			}
		}

		.microsite-footer {
			@extend .content-style;

			h1, h2, h3, h4, h5, h6 {
				color: white;
			}

			h3 {
				padding: 0;
				line-height: 1em;
			}

			h5 {
				font-weight: 400;
				font-size: 1.3em;
				padding: 0;
				line-height: 1em;
			}

			a {
				color: white;
				text-decoration: underline;
			}

			.imageright {
				@include respond-to( 768px ) {
					float: right;
					margin: 0 0 15px 15px;
				}
			}
		}
	}
}

